{% extends 'base.html' %}
{% load static %}



{%  block content %}
<div class="mt-5">
    <div class="text-center">
        <img src="{% static 'core/images/ak.jpg' %}" alt="ProfilePic" class="img-thumbnail"width="250ppx" height="150px">
    </div>
    <div class="mt-3 text-white mx-5 text-justify">
        <h1 class="font-weight-bold st-font">Hello,</h1>
        <div class="px-4" style="line-height:2rem;">
            <P style="text-indent:100px;">I am <b class="text-warning">YashPaul</b> having 5 years of full stack web development experience for global business, I offer the technical expertise you are seeking for your web development position.</P>
            <p>Since earning my bachelor's degree in internet and webdevlopment from XYZ university, I have served as a web development at <b class="text-warning">GS technology.</b> </p>
        </div>
       
    </div>
   <div class="text-center">
    <a href="{% url 'content' %}" class="btn btn-outline-warning  my-3 mr-5">Hire Me</a>

    <a href="{% url 'content' %}" class="btn btn-outline-info my-3 ">  contact</a>
   </div>
</div>

{% endblock content %}