{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi magnam quidem nobis exercitationem voluptatum omnis error quis officia unde maiores, nulla praesentium molestias, eligendi dicta libero inventore, fugit asperiores sit.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias excepturi eaque, harum eius iure, maxime aliquid eveniet illum ipsa et culpa! Non amet soluta aliquid voluptatibus ad accusamus eaque nostrum fuga quos? Doloremque obcaecati, cum dolorum sequi maiores dignissimos facilis saepe ipsam placeat enim vero soluta atque ducimus unde illo!</p>

</div>



{% endblock content %}
