{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width",initial-scale=1.0"/>
<link rel="stylesheet" href="{% static 'css/style.css'%}"/> 
    <style>
        body{
            background-color: brown;
        }
    </style>
    <title>Django</title>

</head>
<body>
    <ul>
        <li><a href ="/">home</a></li>
    </ul>
    <h1>Hello name:{{cn|upper}} duration:{{du}} seats:{{st}}</h1>
    <img src="{% static 'images/3.jpg' %}" alt="Django" />

</body>    

</html>